.btn-info:hover
{
    background-color: rgb(95, 16, 16);
}

.btn-info
{
    font-size: 20px !important;
    letter-spacing: 5px;
}

h3
{
    font-size: 35px !important;
    font-family: 'Rubik Moonrocks', cursive;
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 1px 38px cadetblue;}
    to {box-shadow: 1px 1px 38px yellow;}
}



